/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

header {
    background-color: 	#add8e6;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

.hero {
    background-image: url('hero-image.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: 	#0000ff;
    text-align: center;
}

.btn {
    display: inline-block;
    background-color: #333;
    color: 	#FF7F50;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
}

.service {
    background-color: #FFA500;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.service img {
    width: 100%;
    max-height: 600px;
    object-fit: cover;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #FF6347;
    padding: 20px;
    text-align: center;
}
